main {
    section{
        display: flex;

        div{
            padding:10px;
        }
        img {
            width:150px;
            height:200px;
        }
        .container{
            &-2{
                @include text($font-text-primary);
        
            }
        }
    }
  
}